<div class="center">
    <div id="drop-title">
        <p class="h2 text-center">Check your file against plagiarism without ads</p>
    </div>
    <div class="card col-md-5 mx-auto">
      <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="file" (change)="uploadFile($event)">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control" placeholder="Name" formControlName="name">
        </div>
        <br>
        <div class="form-group">
          <input class="form-control" placeholder="Description" formControlName="description">
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Create</button>
        </div>
    </form>
    </div>
    </div>
    <br>
    <div>
        <p class="h4">Your documents</p>
        <hr>
        

    </div>
</div>

